{% extends 'kegiatanku/base.html' %} 
{% block judul %}
 {{judul}}
  {% endblock judul %}
{% block content %}

<h1 class="buat-kegiatan-text">{{judul}}</h1>

<form method="POST">
    {% csrf_token %}

    <form>
        <div class="form-group row col-lg-10">
            <label class="col-sm-2 col-form-label">{{kegiatan_form.nama_kegiatan.label}}</label>
            <div class="col-sm-10">
                {{kegiatan_form.nama_kegiatan}}
            </div>
        </div>

        <div class="form-group row col-lg-10">
            <label class="col-sm-2 col-form-label">{{kegiatan_form.hari.label}} </label>
            <div class="col-sm-10">
                {{kegiatan_form.hari}}
            </div>
        </div>

        <div class="form-group row col-lg-10">
            <label class="col-sm-2 col-form-label">{{kegiatan_form.tanggal.label}} </label>
            <div class="col-sm-10">
                {{kegiatan_form.tanggal}}
            </div>
        </div>

        <div class="form-group row col-lg-10">
            <label class="col-sm-2 col-form-label">{{kegiatan_form.jam.label}} </label>
            <div class="col-sm-10">
                {{kegiatan_form.jam}}
            </div>
        </div>

        <div class="form-group row col-lg-10">
            <label class="col-sm-2 col-form-label">{{kegiatan_form.tempat.label}} </label>
            <div class="col-sm-10">
                {{kegiatan_form.tempat}}
            </div>
        </div>

        <div class="form-group row col-lg-10">
            <label class="col-sm-2 col-form-label">{{kegiatan_form.kategori.label}} </label>
            <div class="col-sm-10">
                {{kegiatan_form.kategori}}
            </div>
        </div>

        <button type="Submit" class="btn btn-success">Buat</button>
        <a class="btn btn-primary" href="/kegiatanku/" style="color: white">Back</a>
    </form>




</form>

{% endblock content %}