 {% extends 'kegiatanku/base.html' %} {% load static %} {% block judul %} {{judul}} {% endblock judul %} {% block content %}

<h1 class="list-kegiatan-text">{{judul}}</h1>




<div class="box-container">

    <div class="row justify-content-center">
        {% for kegiatan in kegiatans %}

        <div class="kegiatan-container">
            <div class="column">

                <img src="{% static 'img/notes.png' %}" alt="notes" class="gambar-note">

                <div class="row justify-content-between">
                    <h6>{{kegiatan.tanggal}}</h6>
                    <h6>{{kegiatan.hari}}</h6>
                </div>

                <h2 class="row justify-content-center">{{kegiatan.nama_kegiatan}}</h2>

                <div class="column">
                    <p>Lokasi : {{kegiatan.tempat}}</p>
                    <p>Waktu : {{kegiatan.jam}}</p>
                    <p>Kategori : {{kegiatan.kategori}}</p>
                </div>

                <!-- button -->
                <td style="padding: 0"><a class="row justify-content-center btn btn-danger tombol-delete" href="{% url 'delete' kegiatan.id %}">Delete</a></td>
            </div>
        </div>

        {% endfor %}
    </div>

    <a class="btn btn-primary align-items-center tombol-create" href="/kegiatanku/create/" style="color: white">Buat Kegiatan</a> {% endblock content %}
</div>