body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: 30px;
    margin-top: 200px;
}

.back {
    color: #74b9ff;
    padding: 50px;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 5vw;
    }
}

.middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.btn-contactt {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn-contactt i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}

.btn-contactt:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn-contactt::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn-contactt:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}