body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

span {
    color: white;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - */

.homepage {
    background-image: url('/static/img/pesawat.png');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item {
    margin-left: 40px;
}

.navbar {
    margin-right: 20px;
}

.text-nav {
    font-size: 20px;
}

.hello-text {
    font-size: 40px;
    color: #59485B;
    font-weight: bold;
    letter-spacing: 2px;
}

.homepage-text {
    width: max-content;
    padding-left: 10%;
    padding-top: 400px;
    color: white;
    font-size: 20px;
}

.activity-button {
    margin-right: 70px;
    font-weight: bold;
    background: #ecf0f1;
    padding: 5px 15px;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .hello-text {
        font-size: 17px;
    }
    .csui-text {
        font-size: 10px;
    }
    .activity-button {
        margin-right: 10px;
        font-weight: bold;
        background: #ecf0f1;
        padding: 5px 15px;
        border-radius: 10px;
    }
}


/* ABOUT ME */

.personal-data p {
    padding: 0;
    margin: 0;
    text-align: right;
}

.about-me-text {
    width: max-content;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 70px;
}

.foto-me img {
    align-content: center;
    margin-left: 30px;
}

.container {
    margin-top: 150px;
}

.btn {
    margin-top: 10px;
    margin-left: 20px;
}

@media only screen and (max-width: 1000px) {
    .container {
        margin-top: 50px;
    }
    .hi-im-ari-text {
        text-align: center;
    }
    .foto-me img {
        width: 250px;
        display: block;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .personal-data p {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .personal-data {
        padding-bottom: 70px;
    }
    .about-me-text {
        font-size: 5vw;
    }
}


/* MY SKILLS */

.skills-text {
    width: max-content;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 70px;
}

.skill-container,
.projects-container {
    padding: 0 50px;
}

.progress {
    margin-bottom: 20px;
}

.skill-container {
    margin-bottom: 40px;
}

.projects-container {
    margin-bottom: 70px;
}

@media only screen and (max-width: 1000px) {
    .container {
        margin-top: 50px;
    }
    .skills-text {
        font-size: 5vw;
        padding-top: 30px;
        padding-left: 30px;
    }
}


/* EDUCATIONS PAGE */

.education-container {
    background-color: #66D4FF;
}

.educations-text {
    width: max-content;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 70px;
}

.sma-container {
    margin-bottom: 50px;
    margin-top: 120px;
}

.sma-container img,
.fasilkom-container img {
    max-width: 200px;
}

.fasilkom-container p,
.fasilkom-container h3 {
    text-align: right;
}

.fasilkom-container h3,
.sma-container h3 {
    font-weight: bold;
}

.educations-body {
    background-color: #66D4FF;
}

@media only screen and (max-width: 1000px) {
    .educations-text {
        align-items: left;
        font-size: 25px;
        padding: 0;
    }
    .education-container {
        background-color: #66D4FF;
        padding: 40px;
    }
    .sma-container img {
        margin-bottom: 50px;
    }
    .sma-container {
        justify-item: center;
    }
    .sma-container {
        margin-top: 30px;
    }
}


/* ORGANIZATIONS PAGE */

.organizations-body {
    background-color: #66D4FF;
}

.organizations-text {
    width: max-content;
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 70px;
}

.card {
    margin: 10px;
    width: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: max-content;
    border-radius: 10px;
    border: 3px solid black;
}

.card img {
    width: 150px;
    display: block;
    margin: auto;
}

.card p,
.card h3 {
    text-align: center;
}

.foto-imami {
    padding: 0;
}

.card-imami {
    padding-top: 30px;
    padding-bottom: 70px;
}

@media only screen and (max-width: 1000px) {
    .organizations-text {
        font-size: 5vw;
        padding-top: 30px;
        padding-left: 30px;
    }
    .card {
        margin-top: 50px;
    }
}


/* CONTACT PAGE */

.contacts-text {
    width: max-content;
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 70px;
}

.img-container {
    margin-top: 100px;
}

.img-container img {
    margin: 50px;
    max-width: 150px;
}

@media only screen and (max-width: 1000px) {
    .contacts-text {
        font-size: 5vw;
        padding-top: 30px;
        padding-left: 30px;
    }
}

.formku {
    padding: 1000px;
    margin-top: 100px;
}

.list-kegiatan-text,
.buat-kegiatan-text {
    width: max-content;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 70px;
    margin-bottom: 50px;
}

.form-kegiatan {
    margin-top: 50px;
}


/* KEGIATAN CARD */

.kegiatan-container {
    width: 300px;
    margin-left: 30px;
    border: 4px solid #00cec9;
    border-radius: 20px;
    margin-bottom: 50px;
}

.kegiatan-container h6 {
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 15px;
}

.kegiatan-container h2 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.kegiatan-container p {
    margin-left: 20px;
}

.tombol-delete {
    margin-left: 110px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.box-container {
    margin-right: 40px;
}

.tombol-create {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@media only screen and (max-width: 1000px) {
    .tombol-create {
        display: block;
        margin-left: 110px;
        margin-right: auto;
        width: 40%;
        margin-bottom: 50px;
    }
    .list-kegiatan-text {
        font-size: 35px;
        padding-left: 30px;
        margin-top: 50px;
    }
    .box-container {
        margin-left: 15px;
    }
}

.gambar-note {
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 40px;
    z-index: -1;
}