{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ari - {{judul}}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/send.png' %}"/>
    
    {% include "snippets/styles.html" %}
</head>

<body>
    {% include "snippets/navbar.html" %}

    <div>
        <h1 class="about-me-text">ABOUT ME</h1>
        <div class="container justify-content-center">
            <div class="row justify-content-center">
                <div class="hi-im-ari-text  col-12 col-sm-12 col-md-12 col-lg-4 box-about">
                    <p>
                        <strong>Hi</strong>, Im <strong>Ari</strong> . Extremely motivated to constantly develop my skills and grow in <strong>Software Engineering</strong> especially Backend and Android Development. Love to learn something new and learn
                        from other people.

                        <br>
                        <br>

                        <strong>I'm your future Software Engineer</strong>
                    </p>

                    <a href="https://drive.google.com/open?id=1OVUKRoC-8toMNCbECLOskFk0EAB03-tH" target="_blank" class="btn btn-info resume-button" role="button">See my Resume</a>
                </div>

                <div class="foto-me justify-content-center align-items-center col-12 col-sm-12 col-md-12 col-lg-4 box-about">
                    <img src="{% static 'img/ganteng.png' %}" alt="" class="img-fluid align-items-center" style="min-width : 180px">
                </div>

                <div class="personal-data col-12 col-sm-12 col-md-12 col-lg-4 box-about">
                    <p><strong>Name</strong></p>
                    <p>Ari Angga Nugraha</p>
                    <p><strong>BirthDate</strong></p>
                    <p>7 February 2000</p>
                    <p><strong>Age</strong></p>
                    <p>19</p>
                    <p><strong>Phone</strong></p>
                    <p>+62 812-6852-9556</p>
                    <p><strong>Email</strong></p>
                    <p>nugrahaa878@gmail.com</p>
                    <p><strong>Location</strong></p>
                    <p>Depok, Indonesia</p>
                </div>
            </div>
        </div>

    </div>


    {% include "snippets/scripts.html" %}
</body>

</html>
