{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Ari - {{judul}}</title>
    <!-- {% include 'snippets/styles.html' %} -->
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/send.png' %}"/>
    

</head>

<body>
    <h1>Hei, Feel Free to Contact Me ^^</h1>
    <div class="middle">
        <a class="btn-contactt" href="https://www.facebook.com/lLSBlAmStRonG2l" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn-contactt" href="https://twitter.com/nugraha24585485" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="btn-contactt" href="#">
            <i class="fab fa-google"></i>
        </a>
        <a class="btn-contactt" href="https://www.instagram.com/arinugraha02/?hl=id" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>

    </div>

    <a href="/">
        <h1 class="back" style="color: ">Back to Home</h1>
    </a>

</body>

</html>