{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ari - {{judul}}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/send.png' %}"/>

    {% include 'snippets/styles.html' %}

    
</head>

<body class="educations-body">
    {% include 'snippets/navbar.html' %}


    <div class="education-container">
        <h1 class="educations-text">EDUCATIONS</h1>

        <div class="education-content">
            <div class="sma-container row justify-content-center align-items-center">

                <img class="foto-sma col-12 col-sm-12 col-md-12 col-lg-2" src="{% static 'img/sma.png' %}" alt="Foto SMA">
                <div class="text-sma col-12 col-sm-12 col-md-12 col-lg-8">
                    <h3>SMA 1 Bukittinggi</h3>
                    <p>SMA Negeri 1 Bukittinggi is the oldest public high school in Bukittinggi. This school is located on Sheikh M. Jamil Jambek street No. 36, Bukittinggi, West Sumatra. SMAN 1 Bukittinggi often holds activities such as LUMINOSITY and LCTKK</p>
                </div>
            </div>

            <div class="fasilkom-container row justify-content-center align-items-center">
                <div class="text-fasilkom col-12 col-sm-12 col-md-12 col-lg-8">
                    <h3>Faculty of Computer Science, Universitas Indonesia</h3>
                    <p>Fasilkom is the best faculty of Computer Science in Indonesia Fasilkom has produced many skillfull and competent graduates. They have start some start up, creating business, or be a part of Information Technology Employees in various
                        unicorn and other company in Indonesia and abroad</p>
                </div>
                <img class="foto-fasilkom col-12 col-sm-12 col-md-12 col-lg-2" src="{% static 'img/fasilkom.png' %}" alt="Foto Fasilkom">

            </div>
        </div>
    </div>



    {% include "snippets/scripts.html" %}
</body>

</html>