{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ari - {{ judul }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/send.png' %}" /> {% include "snippets/styles.html" %}

</head>

<body>
    <!-- NAVIGATION BAR -->
    {% include "snippets/navbar.html" %}

    <div class="homepage">

        <div class="d-flex flex-column homepage-text">
            <h1 class="hello-text ">Hello, I'm Ari Angga Nugraha</h1>
            <p class="csui-text align-self-center">Computer Science Student | Universitas Indonesia</p>
            <p class="csui-text align-self-center activity-button"><a href="/kegiatanku/">See My Activity</a></p>

        </div>

    </div>

    {% include "snippets/scripts.html" %}
</body>

</html>