{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ari - {{judul}}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/send.png' %}"/>

    {% include 'snippets/styles.html' %}
</head>

<body class="organizations-body">

    {% include 'snippets/navbar.html' %}


    <div>
        <h1 class="organizations-text">Organizations <br> and Experiences</h1>

        <div class="row organizations-container justify-content-center align-items-start">
            <div class="card col-9 col-sm-5 col-md-4 col-lg-3">
                <img src="{% static 'img/ristek.jpg' %}" alt=" Ristek Foto ">
                <h3>Ristek Fasilkom UI</h3>
                <p><i>Web Development SIG</i></p>
                <p>Ristek Fasilkom UI is an independent organization operated by the students of Faculty of Computer Science Universitas Indonesia (Fasilkom UI) that is aimed to cultivate students’ interests in the fields of science and technology. </p>
            </div>

            <div class="card col-9 col-sm-5 col-md-4 col-lg-3 ">
                <img src="{% static 'img/compfest.jpg' %}" alt="Compfest Foto ">
                <h3>COMPFEST</h3>
                <p><i>Software Engineering Academy</i></p>
                <p>The Biggest and Leading One Stop IT Event Held by Students. Being a staff at Software Engineering Academy that held at GO-JEK Office for 6 days.</p>
            </div>

            <div class="card card-imami col-9 col-sm-5 col-md-4 col-lg-3 justify-content-start">
                <img src="{% static 'img/imami.jpg' %}" alt=" Imami Foto " class="foto-imami">
                <h3>IMAMI UI</h3>
                <p><i>Public Relations</i></p>
                <p>IMAMI UI is an association of minang students who study at the University of Indonesia. IMAMI UI often holds activities such as MCF (Minang Culture Festival) and KGTK (Kampus Goes to Kampuang)</p>

            </div>
        </div>
    </div>


    {% include 'snippets/scripts.html' %}

</body>

</html>