{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ari - {{judul}}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/send.png' %}"/>

    {% include "snippets/styles.html" %}

</head>

<body>
    {% include "snippets/navbar.html" %}

    <div class="skill">
        <h1 class="skills-text">SKILLS AND PROJECTS</h1>

        <div class="container justify-content-center">
            <div class="skill-content row ">
                <div class="skill-container col-12 col-sm-12 col-md-12 col-lg-6">
                    <h2>SKILLS</h2>
                    <h5>Java</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>

                    <h5>Python</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>

                    <h5>HTML CSS</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                    </div>

                    <h5>Django</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>

                    <h5>Android Studio</h5>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                    </div>
                </div>

                <div class="projects-container col-12 col-sm-12 col-md-12 col-lg-6">
                    <h2>PROJECTS</h2>
                    <br>
                    <h5>PMB Website</h5>
                    <h5><i>Backend Engineer</i></h5>
                    <br>
                    <p>Created backend system for PMB Website with Django. I make this system with Senior member in Ristek Fasilkom UI from scratch. Use Django REST Framework <br> Utilized : Django, Django REST Framework, JSON</p>
                    <a href="https://gitlab.com/nugrahaa" target="_blank"><img src="{% static 'img/gitlab.svg' %}" alt="Logo Gitlab" class="img-fluid" style="max-width: 100px; border-radius: 20%;" ;></a>
                </div>
            </div>

        </div>

    </div>

    {% include "snippets/scripts.html" %}

</body>

</html>